.kpxc-totp-icon {
    border: 0;
    cursor: pointer;
    padding: 0 !important;
    position: absolute;
}

.kpxc-totp-icon.default {
    background: url('chrome-extension://__MSG_@@extension_id__/icons/otp.svg') right no-repeat;
    background-size: contain;
}

.kpxc-totp-icon.moz {
    background: url('moz-extension://__MSG_@@extension_id__/icons/otp.svg') right no-repeat;
    background-size: contain;
}