.kpxc-username-icon {
    border: 0;
    cursor: pointer;
    padding: 0 !important;
    position: absolute;
}

.kpxc-username-icon.disconnected {
    background: url('chrome-extension://__MSG_@@extension_id__/icons/disconnected.svg') right no-repeat;
    background-size: contain;
}

.kpxc-username-icon.disconnected-moz {
    background: url('moz-extension://__MSG_@@extension_id__/icons/disconnected.svg') right no-repeat;
    background-size: contain;
}

.kpxc-username-icon.lock {
    background: url('chrome-extension://__MSG_@@extension_id__/icons/locked.svg') right no-repeat;
    background-size: contain;
}

.kpxc-username-icon.lock-moz {
    background: url('moz-extension://__MSG_@@extension_id__/icons/locked.svg') right no-repeat;
    background-size: contain;
}

.kpxc-username-icon.unlock {
    background: url('chrome-extension://__MSG_@@extension_id__/icons/keepassxc.svg') right no-repeat;
    background-size: contain;
}

.kpxc-username-icon.unlock-moz {
    background: url('moz-extension://__MSG_@@extension_id__/icons/keepassxc.svg') right no-repeat;
    background-size: contain;
}
